# Python cache / temp
**pycache**/
*.pyc

# Virtual environments
venv/
.venv/

# Model artifacts
*.joblib
*.pkl

# Log
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/